.features{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.features>div>span{
    display: flex;
    margin: 10px;
    background-color: rgb(167, 167, 167);
    padding: 12px;
    border-radius: 8px;
background: #FFF;
box-shadow: 4px 4px 60px 0px rgba(0, 0, 0, 0.04);
}
.features>div>span>p{
    color: #F01C21;

font-family: Metropolis;
/* font-size: 12px; */
font-style: normal;
font-weight: 500;
line-height: normal;
    margin: 0px 15px;
}